<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AutoSave" value="False" />
    <add key="AutoPopulateColors" value="True" />
    <add key="BackgroundColor" value="Black" />
    <add key="CountMaskedMatches" value="False" />
    <add key="CurrentFilterFiles" value="" />
    <add key="CurrentLogFiles" value="" />
    <add key="DebugFile" value="" />
    <add key="FileExtensions" value=".log;.rvf;.rvconfig" />
    <add key="FileHistoryCount" value="20" />
    <add key="FilterIndexVisible" value="False" />
    <add key="FilterDirectory" value="" />
    <add key="FilterHide" value="False" />
    <add key="FontName" value="Lucida Console" />
    <add key="FontSize" value="12" />
    <add key="ForegroundColor" value="Azure" />
    <add key="HelpUrl" value="https://github.com/jasonagilbertson/TextFilter" />
    <add key="MaxMultiFileCount" value="10" />
    <add key="RecentFilterFiles" value="" />
    <add key="RecentLogFiles" value="" />
    <add key="SaveSessionInformation" value="False" />
    <add key="SharedFilterDirectory" value="" />
    <add key="VersionCheckFile" value="https://raw.githubusercontent.com/jasonagilbertson/TextFilter/master/TextFilter/version.xml" />
    <add key="WordWrap" value="True" />
  </appSettings>
</configuration>