<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BackgroundColor" value="DimGray" />
    <add key="FileHistoryCount" value="5" />
    <add key="FilterDirectory" value="" />
    <add key="CountMaskedMatches" value="True" />
    <add key="ForegroundColor" value="Cyan" />
    <add key="FontName" value="Courier" />
    <add key="FontSize" value="14" />
    <add key="CurrentFilterFiles" value="" />
    <add key="CurrentLogFiles" value="" />
    <add key="RecentFilterFiles" value="" />
    <add key="RecentLogFiles" value="" />
    <add key="AutoSaveFilters" value="True" />
    <add key="SaveSessionInformation" value="True" />
    
  </appSettings>
</configuration>