<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="AutoSave" value="True" />
    <add key="BackgroundColor" value="Black" />
    <add key="CountMaskedMatches" value="True" />
    <add key="CurrentFilterFiles" value="" />
    <add key="CurrentLogFiles" value="" />
    <add key="FileHistoryCount" value="5" />
    <add key="FilterDirectory" value="" />
    <add key="FontName" value="Courier New" />
    <add key="FontSize" value="14" />
    <add key="ForegroundColor" value="Cyan" />
    <add key="MaxMultiFileCount" value="10" />
    <add key="RecentFilterFiles" value="" />
    <add key="RecentLogFiles" value="" />
    <add key="SaveSessionInformation" value="True" />
    <add key="SharedFilterDirectory" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>